# Database settings
NAME="your_database_name"
USER="your_database_user"
PASSWORD="your_secure_password"
HOST="localhost"
PORT="5432"

# Django settings
SECRET_KEY="your_secret_key_here"
DEBUG=True

#Yandex settings
EMAIL_HOST_USER = "your_yandex_email"
EMAIL_HOST_PASSWORD = "you_password_app"
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True